@model PeopleService.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modelDialogUser" class="modal fade" role="dialog">
    <div id="dialogContent" class="modal-dialog">

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Profile</h4>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.LogInName)

        <div class="form-group">
            @Html.LabelFor(model => model.LogInName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label(Model.LogInName)
            </div>
        </div>

        <div>
            @if (Model.Image.Length != 0)
            {
                @Html.Raw("<img style='width:130px; height:130px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
            }
        </div>
        <div>
            <input type="button" class="btn btn-primary center-block" value="Add or change Picture" id="Picture" onclick="AddPicture()" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PictureName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PictureName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PictureName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List of People", "Index", "People")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Functions.js")
}
